@page "/alerts"
@using BF2TV.Domain.Services
@inject IPeriodicRefresher PeriodicRefresher

<div class="mb-5">
    <h3><span class="oi oi-bell" aria-hidden="true"></span> Alerts</h3>
</div>

<h5>Notifications</h5>
<div class="m-5 mt-4">
    <History/>
</div>
<h5>Settings</h5>
<div class="m-5 mt-4">
    <Conditions/>
</div>

@code {

    private bool _isInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        if (!_isInitialized)
        {
            PeriodicRefresher.UpdateSetting(true);
            _isInitialized = true;
        }
        await base.OnInitializedAsync();
    }

}