@using BF2TV.Domain.Models.Alerts
@using BF2TV.Frontend.Components

<span style="color: #767676">
    [@Status.WhenUtc.ToLocalTime().ToShortTimeString()]
    <span class="text-white">
        @Status.PlayerName
    </span> has joined server:
    <span style="font-size: 10pt;">
        <LinkedServer Server="@Status.ServerInfo"/>
    </span>
</span>

@code {

    [Parameter]
    public FrameIsOnServerStatus Status { get; set; } = default!;

}