@using BF2TV.Domain.Models.Alerts
@using BF2TV.Frontend.Components

<span>
    [@Status.WhenUtc.ToLocalTime().ToShortTimeString()]
    <span class="text-white font-weight-bold">
        @Status.PlayerName
    </span> has joined server:
    <span class="text-body">
        <CroppedSpan Input="@Status.ServerInfo.ServerName" MaxLength="@ServerNameCropLength"/>
    </span>
</span>

@code {

    [Parameter]
    public FrameIsOnServerStatus Status { get; set; } = default!;

    [Parameter]
    public int? ServerNameCropLength { get; set; }
}