@page "/app-only"

<h2>BF2.TV Desktop App is not installed</h2>

Install the Desktop App to use this function.

<div class="m-3">
    <a class="btn btn-lg" role="button" href="https://github.com/TwitchPlaysBF2/BF2Dashboard/releases/latest/download/BF2.TV_App_Setup.exe" target="_blank">Download App</a>
</div>
<div class="m-3">
    @* <a class="btn btn-sm" role="button">Try again</a> *@
</div>

@code {

}