@page "/faq"

<h3>Frequently Asked Questions</h3>
<div>
    <div class="m-9">
        <h5 id="faq-meaning">What does <q>FAQ</q> stand for?</h5>
        <p>
            <q>Frequently Asked Questions</q>
        </p>

        <h5 id="status" class="mt-5">Why is the site so empty/unfinished?</h5>
        <p>
            It's in early development. Continuously improved in my free time. Come back later for more improvements.
            <a href="https://github.com/TwitchPlaysBF2/BF2Dashboard/commits/main" target="_blank">
                <img src="https://img.shields.io/github/last-commit/TwitchPlaysBF2/BF2Dashboard/main?label=Latest%20change%3A&logo=github&logoColor=9147FF&style=flat-square" alt="Latest change"/>
            </a>
        </p>

        <h5 id="joinme-click" class="mt-5">What is the joinme.click launcher?</h5>
        <p>
            The <a href="https://joinme.click" target="_blank">joinme.click</a> launcher allows you to launch the game and join servers directly from the dashboard.
            Simply click the "Join" button on a server or friend list entry and you can start playing. You can download the launcher and find further details here: <a href="https://joinme.click/download" target="_blank">joinme.click/download</a>
        </p>

        <h5 id="missing-join-button" class="mt-5">Why do some servers not have a join button?</h5>
        <p>
            The joinme.click launcher does not support joining servers with a password. It also only supports some of the more popular mods for Battlefield 2. Which is why the join button is not present for password protected servers as well as servers with less popular mods.
        </p>

        <h5 id="custom-maps" class="mt-5">Where can I download custom modded maps for competitive BF2 modes like "2 vs. 2 in a Helicopter"?</h5>
        <p>
            Here: <a class="link" href="https://bf2.nihlen.net/maps">bf2.nihlen.net/maps</a>
        </p>

        <h5 id="how-to-play" class="mt-5">How can I play Battlefield 2 in @DateTime.Now.Year?</h5>
        <ol>
            <li>
                Download and install the <a class="link" target="_blank" href="https://www.bf2hub.com">BF2Hub Client</a>
            </li>
            <li>
                Download and install the <a class="link" target="_blank" href="https://mega.nz/file/0wJhRYhK#9zYuv09dWSE0eQ9mFHgx71hLWW2AOKq3X3n7bKRJvUY">Full BF2 Setup with license verification + patches + addons included, provided by Lost-Soliders.org</a>
            </li>
        </ol>
    </div>
</div>


@code {

}