@page "/faq"

<h3>Help & Frequently Asked Questions</h3>
<div>
    <div class="m-9">
        
        <h5 id="app-download" class="mt-5">Is there a Windows Desktop version of BF2.TV?</h5>
        <p>
            Yes, it allows a better Windows/BF2 integration, which brings more <b>BF2.TV</b> features. Download the installer here: 
            <a class="btn btn-dark btn-sm mx-2 mt-2" href="https://github.com/TwitchPlaysBF2/BF2Dashboard/releases/latest/download/BF2.TV_App_Setup.exe" target="_blank">Download BF2.TV App</a>
        </p>
        
        <h5 id="joinme-click" class="mt-5">How do I get the "Join Server" button to work?</h5>
        <p>
            To use the <span class="btn btn-dark btn-sm mx-2">Join Server</span> button, install either the <a href="https://joinme.click/download" target="_blank">joinme.click</a> or the <a href="https://github.com/TwitchPlaysBF2/BF2Dashboard/releases/latest/download/BF2.TV_App_Setup.exe" target="_blank">BF2.TV Desktop App</a>.
            <br/>
            Afterwards you will be able to join a server directly from the <b>BF2.TV</b> Dashboard (browser & app version).
        </p>

        <h5 id="status" class="mt-5">Why is the site so empty/unfinished?</h5>
        <p>
            It's in early development. Continuously improved in my free time. Come back later for more improvements.
            <a href="https://github.com/TwitchPlaysBF2/BF2Dashboard/commits/main" target="_blank">
                <img src="https://img.shields.io/github/last-commit/TwitchPlaysBF2/BF2Dashboard/main?label=Latest%20change%3A&logo=github&logoColor=9147FF&style=flat-square" alt="Latest change"/>
            </a>
        </p>

        <h5 id="missing-join-button" class="mt-5">Why do some servers not have a "Join Server" button?</h5>
        <p>
            The joinme.click launcher does not support joining servers with a password. It also only supports some of the more popular mods for Battlefield 2. Which is why the join button is not present for password protected servers as well as servers with less popular mods.
        </p>
        
        <h5 id="server-links" class="mt-5">How can I add a website/Discord/TeamSpeak link for my server?</h5>
        <p>
            By adding <a class="link" target="_blank" href="https://sponsortext.cetteup.com/">sponsortext</a> variables to your server.
            The following variables are supported:
        </p>
        <ul class="m-0">
            <li><code>website</code></li>
            <li><code>discord</code></li>
            <li><code>teamspeak</code></li>
        </ul>
        <p>
            If a variable does not contain a valid URL, it is ignored.
            For <code>teamspeak</code>, using a <code>ts3server://</code> or <code>teamspeak://</code> URL allows players to join the server directly.
        </p>

        <h5 id="custom-maps" class="mt-5">Where can I download custom modded maps for competitive BF2 modes like "2 vs. 2 in a Helicopter"?</h5>
        <p>
            Here: <a class="link" href="https://bf2.nihlen.net/maps">bf2.nihlen.net/maps</a>
        </p>

        <h5 id="how-to-play" class="mt-5">How can I play Battlefield 2 in @DateTime.Now.Year?</h5>
        <ol>
            <li>
                Download and install the <a class="link" target="_blank" href="https://www.bf2hub.com">BF2Hub Client</a>
            </li>
            <li>
                Download and install the <a class="link" target="_blank" href="https://mega.nz/file/0wJhRYhK#9zYuv09dWSE0eQ9mFHgx71hLWW2AOKq3X3n7bKRJvUY">Full BF2 Setup with license verification + patches + addons included, provided by Lost-Soldiers.org</a>
            </li>
            <li>
                Open BF2Hub: Make sure all top buttons are green. If something is red, click on the red area and patch the selected BF2 files. Then everything should work.
            </li>
            <li>
                Download and install the <a class="link" target="_blank" href="https://github.com/TwitchPlaysBF2/BF2Dashboard/releases/latest/download/BF2.TV_App_Setup.exe">BF2.TV Desktop App for Windows</a> to use the [Join Server] button directly from <b>BF2.TV</b> (browser & app version)
            </li>
        </ol>
    </div>
</div>


@code {

}