<span title="@Input">@GetCroppedString(Input, MaxLength)</span>

@code {

    [Parameter]
    public string Input { get; set; } = null!;

    [Parameter]
    public int MaxLength { get; set; }

    private string GetCroppedString(string input, int maxLength)
    {
        return input.Length > maxLength
            ? $"{input.Substring(0, maxLength)}..."
            : input;
    }

}