<span title="@Input">@GetCroppedString(Input)</span>

@code {

    [Parameter]
    public string Input { get; set; } = null!;

    [Parameter]
    public int? MaxLength { get; set; }

    private string GetCroppedString(string input)
    {
        if (MaxLength == null)
            return input;
        
        return input.Length > MaxLength
            ? $"{input.Substring(0, (int)MaxLength)}..."
            : input;
    }

}