@page "/"
@using BF2Dashboard.Domain.Services
@using Blazored.LocalStorage
@inject ILocalStorageService _browserStorage
@inject ServerCachingService _cachingService
@inject ServerHandlingService _serverHandlingService

<PageTitle>Dashboard</PageTitle>

<h2>Battlefield 2 Servers</h2>
<div class="row">
    <div class="col-md-6">
        <div class="accordion accordion-flush bg-dark" id="mainAccordion">
            All:
            <ServerListComponent IsFavoriteList="false" OnToggle="OnServerToggle"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="accordion accordion-flush bg-dark" id="favoritesAccordion">
            Favorites:
            <ServerListComponent IsFavoriteList="true" OnToggle="OnServerToggle"/>
        </div>
    </div>
</div>

@code {

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        _serverHandlingService.OnToggle -= OnServerToggle;
        _serverHandlingService.OnToggle += OnServerToggle;
        return Task.CompletedTask;
    }

    private void OnServerToggle()
    {
        StateHasChanged();
    }

}