@page "/"
@using BF2Dashboard.Domain.BattlefieldApi
@using BF2Dashboard.Domain.Services

<PageTitle>Dashboard</PageTitle>

<h1>Servers</h1>
@if (_servers == null)
{
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
}
else
{
    <ul>
        @foreach (var server in _servers)
        {
            <li>
                <ServerPinningComponent Server="@server" OnServerPinToggleEventCallback="async s => await OnServerPinToggle(s)"/>
                [@server.NumPlayers/@server.MaxPlayers] @server.Name
            </li>
        }
    </ul>
}

@code {
    private IReadOnlyList<Server>? _servers;

    protected override async Task OnInitializedAsync()
    {
        _servers = await ServerListService.GetServerList();
    }

    private async Task OnServerPinToggle(Server server)
    {
        Console.WriteLine($"Pinning server: {server.Name} {server.Guid}");
        _servers = await ServerListService.GetServerList();
    }

}