@page "/"
@using BF2Dashboard.Domain.BattlefieldApi
@using BF2Dashboard.Domain.Services

<PageTitle>Dashboard</PageTitle>

<h1>Servers</h1>
@if (_servers == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var srv in _servers)
        {
            <li>
                <button @onclick="async () => await TogglePinStatus(srv)">
                    @if (@srv.IsPinned)
                    {
                        <i class="bi bi-arrow-90deg-down"></i>
                    }
                    else
                    {
                        <i class="bi bi-arrow-bar-up"></i>
                    }
                </button>
                [@srv.NumPlayers/@srv.MaxPlayers] @srv.Name
            </li>
        }
    </ul>
}

@code {
    private IReadOnlyList<Server>? _servers;

    protected override async Task OnInitializedAsync()
    {
        _servers = await ServerListService.GetServerList();
    }

    private async Task TogglePinStatus(Server server)
    {
        server.IsPinned = !server.IsPinned;
        _servers = await ServerListService.GetServerList();
    }


}