@page "/faq"

<h3>Frequently Asked Questions</h3>
<div class="container">
    <div class="m-9">
        <ul>
            <li>
                What does <strong>FAQ</strong> stand for?
                <ul>
                    <li>
                        &bdquo;Frequently Asked Questions&rdquo;
                    </li>
                </ul>
            </li>
            <li>
                Why is <strong>BF2.TV</strong> so empty/unfinished?
                <ul>
                    <li>
                        It's in early development. Continuously improved in my free time. Come back later for more improvements.
                    </li>
                    <li>
                        <a href="https://github.com/TwitchPlaysBF2/BF2Dashboard/commits/main" target="_blank">
                            <img src="https://img.shields.io/github/last-commit/TwitchPlaysBF2/BF2Dashboard/main?label=Latest%20change%3A&logo=github&logoColor=9147FF&style=flat-square" alt="Latest change"/>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                Where can I download custom modded maps for <strong>competitive BF2</strong> modes like "2 vs. 2 in a Helicopter"?
                <ul>
                    <li>
                        Here: <a class="link" href="https://bf2.nihlen.net/maps">bf2.nihlen.net/maps</a>
                    </li>
                </ul>
            </li>
            <li>
                How can I play <strong>Battlefield 2</strong> in @DateTime.Now.Year?
                <ol>
                    <li>
                        Download and install the <a class="link" target="_blank" href="https://www.bf2hub.com">BF2Hub Client</a>
                    </li>
                    <li>
                        Download and install the <a class="link" target="_blank" href="https://mega.nz/file/0wJhRYhK#9zYuv09dWSE0eQ9mFHgx71hLWW2AOKq3X3n7bKRJvUY">Full BF2 Setup with license verification + patches + addons included, provided by Lost-Soliders.org</a>
                    </li>
                </ol>
            </li>
        </ul>
    </div>
</div>


@code {

}