@page "/faq"

<h3>FAQ</h3>
<div class="container">
    <div class="row">
        <div class="m-8">
            <ul>
                <li>What does FAQ stand for? Frequently Asked Questions</li>
                <li>Why is there nothing here yet? The site is under early development</li>
                <li>
                    Where can I download modded maps for competitive BF2 modes like "2 vs. 2 in a Helicopter"?
                    <ul>
                        <li>
                            Here: <a class="link" href="https://bf2.nihlen.net/maps">bf2.nihlen.net/maps</a>
                        </li>
                    </ul>
                </li>
                <li>
                    How can I play Battlefield 2 in @DateTime.Now.Year?
                    <ul>
                        <li>
                            Download and install the <a class="link" href="https://www.bf2hub.com">BF2Hub Client</a>
                        </li>
                        <li>
                            Download and install the <a class="link" href="https://mega.nz/file/0wJhRYhK#9zYuv09dWSE0eQ9mFHgx71hLWW2AOKq3X3n7bKRJvUY">Full BF2 Setup with license verification + patches + addons included, provided by Lost-Soliders.org</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


@code {

}