@page "/live"
<h3>Live Streams</h3>

<div style="height: 45vw">
    <iframe
        src="https://player.twitch.tv/?channel=bf2tv&parent=bf2.tv"
        frameborder="0"
        allowfullscreen="true"
        scrolling="no"
        height="100%"
        width="100%">
    </iframe>
</div>

@code {

}