@using BF2Dashboard.Domain.BattlefieldApi
@if (Players != null)
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">@TeamLabelFilter Player</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var player in Players
            .Where(p => p.IsHuman)
            .Where(p => p.TeamLabel == TeamLabelFilter)
            .OrderByDescending(p => p.Score))
        {
            <tr>
                <td>
                    <a title="Open BF2Hub profile" class="link-light text-nowrap text-decoration-none" target="_blank"
                       href="https://www.bf2hub.com/player/@player.Name">
                        <span>@player.Tag @player.Name</span>
                    </a>
                </td>
                <td>
                    @player.Score
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    [Parameter]
    public IReadOnlyCollection<Player>? Players { get; set; }

    [Parameter]
    public string? TeamLabelFilter { get; set; }
}