@using BF2Dashboard.Domain.BattlefieldApi
@if (Server != null)
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Playername</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var player in Server.Players
            .Where(p => p.IsLikelyHuman)
            .Where(p => p.TeamLabel == TeamLabelFilter)
            .OrderByDescending(p => p.Score))
        {
            <tr>
                <td>
                    @player.Name
                </td>
                <td>
                    @player.Score
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    [Parameter]
    public Server? Server { get; set; }

    [Parameter]
    public string? TeamLabelFilter { get; set; }
}