@using BF2Dashboard.Domain.BattlefieldApi

@if (Server != null)
{
    <h3>Top 5 Players on @Server.Name:</h3>
    <table class="table table-hover" style="width:300px; font-size: 8pt">
        <thead>
        <tr>
            <th scope="col">Playername</th>
            <th scope="col">Score</th>
            <th scope="col">Team</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var player in Server.Players.Take(5).OrderByDescending(p => p.Score).Where(p => !p.Aibot))
        {
            <tr>
                <td>
                    @player.Name
                </td>
                <td>
                    @player.Score
                </td>
                <td>
                    @player.TeamLabel
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    [Parameter]
    public Server? Server { get; set; }
}