@using BF2Dashboard.Domain.BattlefieldApi

<div class="col ps-5">
    <TeamList Server="@Server"/>
</div>
<div class="col ps-5">
    <TeamList Server="@Server"/>
</div>

@code {

    [Parameter]
    public Server Server { get; set; }

}