@using BF2Dashboard.Domain.BattlefieldApi
<div class="col">
    <div class="container">
        <i class="bi @(Server.IsPinned ? "bi-heart-fill" : "bi-heart") grow" style="font-size: 20pt" @onclick="async () => await TogglePinStatus()">
        </i>
    </div>
</div>

@code {

    [Parameter]
    public Server Server { get; set; } = default!;

    [Parameter]
    public EventCallback<Server> OnServerPinToggleEventCallback { get; set; }

    private async Task TogglePinStatus()
    {
        var newStatus = !Server.IsPinned;
        Console.WriteLine($"Setting pin status to {newStatus} of server: {Server.Name} {Server.Guid}");
        Server.IsPinned = newStatus;
        await OnServerPinToggleEventCallback.InvokeAsync(Server);
    }

}