@using BF2Dashboard.Domain.BattlefieldApi
@using BF2Dashboard.Domain.Services
@inject ServerHandlingService _serverHandlingService

<div class="col">
    <div class="container">
        <i class="bi @(Server.IsPinned ? "bi-heart-fill" : "bi-heart") grow" style="font-size: 20pt" @onclick="async () => await _serverHandlingService.TogglePin(Server.Guid)">
        </i>
    </div>
</div>

@code {

    [Parameter]
    public Server Server { get; set; } = default!;

}