<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BF2.TV</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>   
        </button>
    </div>
</div>

@* Browse icons on: https://useiconic.com/open *@

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="live" Match="NavLinkMatch.All">
                <span class="oi oi-media-record" aria-hidden="true"></span> Live Streams
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="faq" Match="NavLinkMatch.All">
                <span class="oi oi-question-mark" aria-hidden="true"></span> FAQ
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}